.container.clearfix
  .content.row
    
    .look_banner_great
      %a{:href => "#outfits"}
        %img{:src => "images/banners/banner_best_outfits.jpg", :alt => ""}
    
    .look_banner_extended
      %a{:href => "#party"}
        %img{:src => "images/banners/banner_summer_party.jpg", :alt => ""}
      
    .look_banner_extended  
      .look_banner_little
        %a{:href => "#sellers"}
          %img{:src => "images/banners/banner_best_sellers.jpg", :alt => ""}
      .look_banner_little
        %a{:href => "#leather"}
          %img{:src => "images/banners/banner_fall_leather.jpg", :alt => ""}