- images = ['fu_facebook', 'fu_pinterest', 'fu_twiter']

.container.clearfix
  .content.row
    
    .col.col-md-12
      .row
        .look_updated
          %span Stay updated

          .look_email
            .input-group
              %input(type="email" class="form-control" placeholder="Your email address")
              %span.input-group-addon
                %span.glyphicon.glyphicon-plus
    
        .look_social
          %span Find us here
          - for image in images
            %a{href: "#", class: "look_social_#{image}"}