.container.clearfix
  .content.row
    .look_contacts.pull-left
      CUSTOM CARE: 888-23-4567
    
    .look_search.pull-right
      %span.glyphicon.glyphicon-search
  
    .look_my_account.pull-right
      %span.glyphicon.glyphicon-user
      MY ACCOUNT
  
    .look_choose_currency.pull-right
      %span.glyphicon.glyphicon-usd
      USD
      %span.caret 