<!DOCTYPE HTML>
%html{lang: "ru"}
  %head
    %title LookShop
    %meta{content: "text/html", charset: "utf-8"}
    %link{href: 'http://fonts.googleapis.com/css?family=Bree+Serif|Merriweather:400,700italic,300,300italic,400italic,700', rel: 'stylesheet', type: 'text/css'}
    %link{href: "_/styles/style.min.css", rel: "stylesheet", type: "text/css"}
    %script{src: "_/javascripts/main.min.js", type: "text/javascript"}
  %body{id: "home"}
    %section.container-fluid 
      .content.row
        #look_sub_menu
          <?php include "_/views/layouts/sub_menu.php"; ?>
        <!--- Sub Menu ----------------------->
        
        #look_header
          <?php include "_/views/layouts/header.php"; ?>
        <!--- Header ------------------------->
        
        #look_slider
          <?php include "_/views/layouts/slider.php"; ?>
        <!--- Slider ------------------------->
        
        #look_find_us
          <?php include "_/views/layouts/find_us.php"; ?>
        <!--- Find Us ------------------------>
        
        #look_banners
          <?php include "_/views/layouts/banners.php"; ?>
        <!--- Banners ------------------------>
        
        #look_tabs_items
          <?php include "_/views/layouts/tabs_items.php"; ?>
        <!--- Tab Items ---------------------->
        
        #look_clearance
          <?php include "_/views/layouts/clearance.php"; ?>
        <!--- Clearance ---------------------->
        
        #look_brands
          <?php include "_/views/layouts/brands.php"; ?>
        <!--- Brands ------------------------->
        
        #look_about
          <?php include "_/views/layouts/about.php"; ?>
        <!--- About -------------------------->
        #look_payments
          <?php include "_/views/layouts/payments.php"; ?>
        <!--- Payments ----------------------->
        
        #look_footer
          <?php include "_/views/layouts/footer.php"; ?>
        <!--- Footer ------------------------->
        
        #look_footer_links
          <?php include "_/views/layouts/footer_links.php"; ?>
        <!--- Footer Links ------------------->